Django==1.11.7
gnewsclient==1.0.2
google-api-python-client==1.6.4
googlemaps==2.5.1
holidays==0.8.1
pyicloud==0.9.1
pyowm==2.7.1
requests==2.18.4
riotwatcher==2.2.0
SpeechRecognition==3.7.1
praw
python-twitter
coinmarketcap
xmltodict