<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Smart Mirror{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
</head>
<body  style="cursor: none; left:0;top:0;margin:0;padding:0;background-color:black;position:absolute;width: 100%; height: 100%;overflow:hidden;">
        {% block content %}
        {% endblock %}
    <script>
        var recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition || window.mozSpeechRecognition || window.msSpeechRecognition)();
    recognition.lang = 'en-US';
    recognition.interimResults = false;
    recognition.continuous = true;
    recognition.maxAlternatives = 5;
    function voiceStartCallback() {
        console.log("Voice started");
        var voicelist = responsiveVoice.getVoices();
        console.log(voicelist)
    }
     
    function voiceEndCallback() {
        console.log("Voice ended");
        recognition.start();
        
    }
     
    var parameters = {
        onstart: voiceStartCallback,
        onend: voiceEndCallback
    }

        recognition.onresult = function(event) {
        for (var i = event.resultIndex; i < event.results.length; ++i) {
            var phrase = event.results[i][0].transcript
            console.log(phrase)
            $.ajax({
                 type: 'POST',
                 url: 'http://127.0.0.1:8000/Command',
                 data: {"command": phrase}, // or JSON.stringify ({name: 'jonas'}),
                 success: function (data) {
                     if (data.status == 200)
                     {
                         window.location.href = data.url
                     }
                 },
             });
        }
    };
    recognition.onend = function(event) {
        recognition.start();
    };
    $(window).bind("load", function() {
        var now = new Date();
        if(now.getHours() > 12)
        {
            var time = now.getHours()-12 + ":";
            if(now.getMinutes() > 9)
            {
                time = time + now.getMinutes();
            }
            else
            {
                time = time + "0" + now.getMinutes();
            }
            time = time + " PM";
        }
        else 
        {
            var time = now.getHours() + ":";
            if(now.getMinutes() > 9)
            {
                time = time + now.getMinutes();
            }
            else
            {
                time = time + "0" + now.getMinutes();
            }
            time = time + " PM";
        }
        $("#time").text(time)
        {% if ai_voice %}
        responsiveVoice.speak("{{speech_response}}","{{ai_voice}}", parameters);
        {% else %}
        responsiveVoice.speak("{{speech_response}}","UK English Female", parameters);
        {% endif %}

    
    });
    function UpdateTime() {
        var now = new Date();
        if(now.getHours() > 12)
        {
            var time = now.getHours()-12 + ":";
            if(now.getMinutes() > 9)
            {
                time = time + now.getMinutes();
            }
            else
            {
                time = time + "0" + now.getMinutes();
            }
            time = time + " PM";
        }
        else 
        {
            var time = now.getHours() + ":";
            if(now.getMinutes() > 9)
            {
                time = time + now.getMinutes();
            }
            else
            {
                time = time + "0" + now.getMinutes();
            }
            time = time + " AM";
        }
        $("#time").text(time)
    }
    //Alarm Checks
    function AlarmSystem() {
        {% for alarm in alarmlist %}
        var current_date = new Date()
        var selected_date = new Date("{{ alarm.alarm_time.isoformat }}")
        var enabled = '{{alarm.enabled}}'
        if(selected_date.getHours() == current_date.getHours() && selected_date.getMinutes() == current_date.getMinutes() && enabled == "True")
        {
            var url =  'http://127.0.0.1:8000/Alarm/Display/' + '{{alarm.pk}}'
            window.location.href = url
        }
        {% endfor %}
    }

    window.setInterval(function(){
        AlarmSystem();
    }, 5000);
    window.setInterval(function(){
        UpdateTime();
    }, 1000);
    </script>
</body>

</html>
