{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style="color: white;">
        </div>
        <div class="col-md-8" style="color: white;text-align:center;">
            
        </div>
        <div class="col-md-2" style="color: white;text-align:right;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" style="color: white;">
        </div>
        <div class="col-md-8" style="color: white; text-align:center;">
        </div>
        <div class="col-md-2" style="color: white;">
        </div>
    </div>
    <div class="row">
            <div class="col-md-2" style="color: white;margin-top:10%;">
            </div>
            <div class="col-md-8" style="color: white; text-align:center;margin-top:10%;">
            <div class="col-md-2" style="color: white;">
            </div>
        </div>
    <div class="row">
            <div class="col-md-4" style="color: white;margin-top:15%;">
            </div>
            <div class="col-md-5" style="color: white; text-align:center;">

            </div>
            <div class="col-md-3" style="color: white;margin-top:10%;">
            </div>
    </div>
    <div class="row">
            <div class="col-md-3" style="color: white;">
            </div>
            <div class="col-md-6" style="color: white; text-align:center;margin-top:5%;">
            </div>
            <div class="col-md-2 col-md-offset-1" style="text-align:center;color: white;margin-top:5%;">
            </div>
        </div>
</div>
<script>
</script>

{% endblock %}>